{{ partial "header.html" . }}

<main id="main">
	<div class="container">
        <div class="row section featured topspace">
			<h2 class="section-title"><span>The page you are looking for does not exist</span></h2>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<p class="text-center">Instead go to...</p>
					<p class="text-center"><a href="{{ .Site.BaseURL }}" class="btn btn-action">Home</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<p class="text-center">Or read some posts</p>
					<p class="text-center"><a href="{{ .Site.BaseURL }}blog" class="btn btn-action">Blog Posts</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<p class="text-center">or get to know me...</p>
					<p class="text-center"><a href="{{ .Site.BaseURL }}about" class="btn btn-action">About the author</a></p>
				</div>
			</div>
		</div> <!-- / section -->
	</div>	<!-- /container -->
</main>

{{ partial "footer.html" . }}
