<div class="row section recentworks topspace">
    <h2 class="section-title"><span>Sections</span></h2>
    <div class="thumbnails recentworks">
        {{ range $index, $area := .Site.Data.areas }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="{{ .url }}">
                    <div class="img">
                        <img src="{{ .image }}" alt="">
                        <span class="cover"><span class="more">See details &rarr;</span></span>
                    </div>
                    <div class="title">{{ .name }}</div>
                    <div class="details">
                        {{ $len := sub (len .items) 1 }}
                        {{ range $i, $item := where .items "id" .index }}
                            <a href="{{ .url }}">{{ .name }}</a>
                            {{ if gt $len $i }} | {{ end }}
                        {{ end }}
                    </div>
                </a>
            </div>
        {{ end }}
    </div> <!-- /section -->
</div> <!-- / section -->
